/* "lang=scss"; */
*{font-family: "微软雅黑",Arial,"Helvetica Neue",Helvetica,"sans-serif";font-size: 16px;box-sizing:border-box;margin:0;padding:0;}
a{text-decoration:none;}
img{border:none;}
li{list-style: none;}
input,button,textarea{outline: none;border:none;}
html,body{background-color: #fff;background: none;}
.clear:after{content:"";display: block;clear:both;height: 0;}
.fl{float:left;}
.fr{float:right;}
.hid{display: none;}
.shw{display: block;}
.dis-flex{-webkit-flex:flex;display: flex;}
.txtidt{text-indent:2em;}
.txts{-webkit-line-clamp:2;overflow:hidden;display: -webkit-box;-webkit-box-orient:vertical;}
.mtb50{padding:50px 0;}
.scale{overflow: hidden;}
.scale img{transition:0.3s;}
.scale:hover img{transform: scale(1.1);}
.txtover{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.container{width:1200px;margin:0 auto;}
::-ms-clear,::-ms-reveal{display: none;}
a{text-decoration:none;color:#000;}
.flx{
	display:-moz-box;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content:flex-start;
}
.ts{transition:all 0.5s;}
.dis{display: none;}
.video-container{width:1200px;margin:0 auto;position: relative;}


.page-nums{background-color:transparent;text-align:center;margin-top:30px;padding:0;box-shadow:0 0 3px rgba(0,0,0,0.15);}
.page-nums .el-pager li{width:45px;}
.page-nums .el-pager li:hover,.page-nums .el-pager li:active,.page-nums .el-pager li:visited{background-color:#0099ff;color:#fff;}
.page-nums .el-pager li.active{color:#0099ff;background-color:#fff;}
.page-nums .el-pager li,
.el-pagination.page-nums button span,
.page-nums .btn-next,
.page-nums .btn-prev,
.el-pagination.page-nums .el-pagination__total{height:45px;line-height:45px;margin:0 4px;font-size:15px;font-weight: normal;color:#333}

.home-con{margin-top: 50px;}
.home-p1{font-size: 22px;font-weight: normal;color:#333;margin-bottom: 15px;text-align:left;}
.home-p2{color:#828a92;font-size: 16px;margin-right: 40px;}
.home-p3{color:#333;font-size: 16px;line-height: 30px;text-align: justify;}
.home-txt{text-align:center;}
.home-txt p{text-align:left;margin-top: 30px;color:#333;font-size: 16px;line-height: 30px;text-align: justify; margin-bottom: 20px;}
.home-txt img{max-width:100%;}
